$body-bg: #0f0f0f;
//$body-bg: #ffffff;
$main-color: #ff0000;
$txt-color:#fff;
//$txt-color:#000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-bg: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

// Responsive for mobile
$mobile-width: 600px;

// Responsive for tablet
$tablet-width: 1024px;

// Fonts
$font-family: "Montserrat", sans-serif;